.header{
    .logo{
        background-color: powderblue;
    }
    .navigation{
        .Home{
            color: yellowgreen;
        }
        .About{
            color: coral;
        }
        .Contact{
            color: blueviolet;
        }
    }
}
